/*INITIAL RESET*/
html, body, h1, h2, header, nav, ul, li, a, input, button, select, fieldset, form, div, span, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

hr {
    margin: 0;
}

body {
    line-height: 1;
    font-family: Tahoma;
    font-size: 20px;
}

ol, ul {
    list-style: none;
}
/*FLOAT CLEARFIX*/
.clearfix {
    zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: "";
        display: block;
    }

    .clearfix:after {
        clear: both;
        height: 0;
    }

/*HEADER*/
h1 {
    font-size: 1.4em;
    margin: 10px auto 50px 10px;
}

/*NAVIGATION*/
nav {
    float: left;
}

header ul li {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 40px;
}

    header ul li:first-of-type {
        margin-left: 10px;
    }

header li a {
    color: gray;
    font-family: 'Lucida Sans';
    font-size: 0.7em;
    text-transform: uppercase;
}
/*SEARCH BOX*/
.search-form {
    border: #E9E9E9 inset 2px;
    line-height: 20px;
    height: 20px;
    font-size: 0.7em;
    padding: 5px;
    background-color: #F7F7F7;
    width: 25.5%;
}

    .search-form input {
        background-color: #F7F7F7;
    }

.search-btn {
    float: right;
}

form.search-form {
    float: right;
}

html > body hr {
    margin-top: 10px;
}
/*WRAPPER*/
#wrapper {
    width: 72%;
    margin: 0 auto;
}

main a {
    color: #2281C3;
    font-size: 0.8em;
    text-decoration: none;
}

main section {
    display: inline-block;
    width: 49%;
    padding: 28px 20px 0 20px;
}

section > hr {
    margin-bottom: 25px;
}
/*ARTICLE*/
article h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

article header p {
    font-size: .7em;
}

article header > p, article header a {
    color: gray;
    text-decoration: none;
}

article header > p {
    margin-bottom: 30px;
}

article .leave-comment {
    margin-left: 5px;
    text-transform: uppercase;
}

article .content {
    font-size: 0.6em;
    line-height: 1.8em;
    margin-bottom: 25px;
}

article footer {
    margin-bottom: 25px;
}


/*ASIDE*/
aside {
    width: 20.8%;
    padding: 28px 1%;
}

    aside > hr {
        margin-bottom: 10px;
    }
    /*RIGTH*/
    aside.right {
        float: right;
        font-size: 0.7em;
    }

        aside.right select {
            border: gray solid 1px;
            border-radius: 2px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

    /*LEFT*/
    aside.left {
        float: left;
    }

        aside.left li {
            margin: 5px 0;
        }
        aside.left>hr{
            margin-top:40px;
        }



/*FOOTER*/
footer section > span {
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 15px;
}
/*TWITTER BAR*/
.twitter {
    background-color: #F7F7F7;
    margin-top: 20px;
    color: #8B778B;
    font-size: 0.9em;
    font-style: italic;
    padding: 17px 0;
}

    .twitter img {
        margin-left: 14%;
    }
/*BLACK FOOTER*/
.black {
    background-color: black;
    color: #FFF;
    padding-top: 25px;
}

    .black > section:first-of-type {
        margin-left: 14%;
    }

    .black > section {
        display: inline-block;
        vertical-align: top;
        width: 13.30%;
        margin-left: 2.07%;
    }

    .black a {
        text-decoration: none;
        color: #FFF;
        font-size: 0.9em;
    }

#bgjug {
    font-size: 1.2em;
}

#pages li {
    margin-bottom: 12px;
}

#latest p, #more p, #about p {
    color:#999;
    font-size:0.7em;
}
