/*#region INITIAL RESET */

html, body {
    width: 100%;
    height: 100%;
    font-family: Tahoma;
    font-size: 10px;
    color: #FFF;
}

html, body, header, div, span, ul, li, a, section, h2, p {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*#endregion */
/*#region CLEARFIX */

.clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: "";
        display: block;
    }

    .clearfix:after {
        height: 0;
        clear: both;
    }

/*#endregion */
/*#region COMMON */

.hidden {
    display: none;
}

footer {
    height: 284px;
    background-color: #234465;
}
/*#endregion */
/*#region LAYOUT */


section {
    float: left;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

    section h2 {
        color: orange;
        margin-top: 54px;
        font-size: 1.3rem;
        margin-bottom: 16px;
    }

/*#endregion */

/*#region FAST LINKS SECTION */

.fast-links {
    margin-left: 120px;
    font-size: 1.3rem;
    letter-spacing: .04rem;
    margin-top: 56px;
}

    .fast-links li {
        height: 44px;
        width: 160px;
        line-height: 39px;
        border: #FF9C00 solid 2px;
        text-align: center;
        margin-bottom: 10px;
    }
/*#endregion */

/*#region ABOUT MENU */

.about-menu {
    margin-left: 30px;
}

section li, section > p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
/*#endregion */

/*#region FRIENDS */

.friends {
    margin-left: 42px;
}

/*#endregion */
/*#region OTHER */

.other {
    margin-left: 65px;
    width: 260px;
}

    .other p {
        line-height: 23px;
    }

.social li {
    display: inline-block;
    margin-top: 16px;
    margin-right: 7px;
}

/*#endregion */
.fb-likebox{
    margin-top:36px;
}