html, body, div {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*HEAD DIV*/
#head{
    width:500px;
    height:500px;
    margin-top:4px;
    margin-left:8px;
    border-radius:500px;
    background-color:yellow;
    border:solid black 3px;
}