@font-face {
    font-family: Animated;
    src: url('../fonts/Animated.ttf') format('truetype');
}

html, body, main, div, p, h1, span {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

main {
    width: 900px;
    height: 600px;
    padding-right: 21px;
    background: url(../img/HawaiiBackground.png),-webkit-radial-gradient(18% 20%, closest-corner, #f4f4e6 1%,#f4f2d0 13%,#f2f2de 18%,#f9f8d3 13%,#f2f2de 18%,#faf8be 28%,#f9f8d3 43%,#f9f8d3 38%,#f7f6e1 46%,#f9f8d3 44%,#f4f4e3 52%,#f4f4e3 50%,#f2f2e8 58%,#efefea 70%,#f2f2e8 74%,#0066db 200%); /* Chrome10+,Safari5.1+ */
    position: relative;
}

    main > h1 {
        font-family: Animated;
        color: #FDBC21;
        font-size: 50px;
        font-weight: normal;
        text-align: right;
        padding-top: 15px;
    }

    main > img {
        position: absolute;
    }

#vladok {
    bottom: 19px;
    left: 672px;
}

#alex {
    bottom: 24px;
    left: 492px;
}

#nakov {
    bottom: 44px;
    left: 412px;
}

#tedi {
    bottom: 19px;
    left: 262px;
    z-index: 3;
}

#petia {
    bottom: 34px;
    left: 182px;
    z-index: 2;
}

#vladog {
    bottom: 29px;
    left: 42px;
    z-index: 1;
}
