/*#region INITIAL RESET */

html, body {
    height: 100%;
    width: 100%;
}

html, body, header, nav, ul, li, a, img, input {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*#endregion */
/*#region CLEARFIX */

.clearfix {
    zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: "";
        display: block;
    }

    .clearfix:after {
        clear: both;
        height: 0;
    }

/*#endregion */
/*#region HEADER */
header {
    height: 109px;
    width: 100%;
    background: #234465;
    font-family: Tahoma;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    text-align: right;
    position: relative;
}

/*#endregion */
/*#region LOGO */
.logo {
    float: left;
    font-family: Tahoma;
    height: 49px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 34px;
}

    .logo > img {
        float: left;
        height: 49px;
        margin-right: 4px;
    }

    .logo > div {
        font-family: Tahoma;
        font-size: 1.5em;
        line-height: .82em;
        text-align: left;
        letter-spacing: 0.015em;
    }

        .logo > div > span {
            font-size: .85em;
            letter-spacing: .01em;
        }

        .logo > div > div {
            font-size: 0.4em;
            line-height: 0.4em;
            text-transform: lowercase;
            text-align: right;
            width: 89%;
            letter-spacing: -0.01em;
        }
/*#endregion */
/*#region SEARCH FORM and USER DATA */
.right {
    float: right;
    position: absolute;
    height: 30px;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    padding-right: 35px;
}

.search-image-message {
    margin-bottom:15px;
}

    .search-image-message .message, .search-image-message .user, .search-image-message .search {
        display: inline-block;
    }

.right form input {
    height: 32px;
}

form input[type=image] {
    width: 20px;
    background: white;
    vertical-align: middle;
}

/*#endregion */
/*#region NAVIGATION */
nav {
    text-align: right;
    font-size: 14px;
}

    nav > ul li {
        display: inline-block;
        margin-left: 40px;
    }

/*#endregion */
