/*#region INITIAL RESET */

html, body {
    height: 100%;
    width: 100%;
}

html, body, header, nav, ul, li, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*#endregion */
/*#region CLEARFIX */

.clearfix {
    zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: "";
        display: block;
    }

    .clearfix:after {
        clear: both;
        height: 0;
    }

/*#endregion */
/*#region HEADER */
header {
    height: 109px;
    width: 100%;
    background: #234465;
    font-family: Tahoma;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    text-align: right;
    position: relative;
}

/*#endregion */
/*#region LOGO */
.logo {
    float: left;
    font-family: Tahoma;
    height:49px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto 34px;
    overflow:hidden;
}

    .logo>img {
        float:left;
        height:49px;
    }

    .logo > div {
        font-family: Tahoma;
        font-size: 22px;
        line-height: 19px;
        text-align:left;
        letter-spacing:0.1em;
    }

        .logo > div > div {
            font-size: 12px;
            line-height:12px;
            text-transform: lowercase;
            text-align:right;
        }
/*#endregion */
/*#region SEARCH FORM and USER DATA */
.search-image-message .message, .search-image-message .user, .search-image-message .search {
    display: inline-block;
}

form input[type=image] {
    width: 20px;
}

/*#endregion */
/*#region NAVIGATION */
nav {
    text-align: right;
}

    nav > ul li {
        display: inline-block;
    }

/*#endregion */
