/*#region INITIAL RESET */

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 13px;
    background-color: #101415;
}

html, body, div, span, header, footer, main, aside, a, ul, li, nav, section, article, h1, h2, p, img, figure, aside, small, time {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

div#wrapper {
    width: 900px;
    margin: 0 auto;
    background-color: #FFF;
}

/*#endregion */
/*#region CLEARFIX */

.clearfix {
    zoom: 1;
}

    .clearfix:before, .clearfix:after {
        display: block;
        content: " ";
    }

    .clearfix:after {
        height: 0;
        clear: both;
    }
/*#endregion */
/*#region HEADER */
#wrapper > header {
    height: 270px;
    background-image: url(../imgs/headerBackground.jpg);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-bottom: 66px;
}

    #wrapper > header > h1 {
        position: absolute;
        right: 40px;
        bottom: 34px;
        font-size: 1.9rem;
        color: #FFF;
    }

    #wrapper > header > nav {
        width: 100%;
        position: absolute;
        top: 270px;
        left: 0;
        background: linear-gradient(to bottom, #F0F0F0, #DADADA 100%);
        border-bottom: #FFF solid 1px;
        box-shadow: 0 2px 0 #DDD;
    }


        #wrapper > header > nav li {
            float: left;
            /*display: inline-block;
            margin-left: -4px;*/
        }

        #wrapper > header > nav a {
            text-transform: uppercase;
            display: block;
            padding: 11px 30px;
            font-size: 1.1rem;
            color: #626161;
            border-right: #FFF solid 1px;
        }

            #wrapper > header > nav a:hover, #wrapper > header > nav a:active {
                color: #FFF;
                background-color: #B7B7B7;
            }

/*#endregion */
/*#region MAIN */

main {
    width: 64.44%;
    margin: 0 4.67%;
    float: left;
}

aside {
    width: 22.22%;
    float: left;
}

main section, aside {
    border: #DBDBDB solid 1px;
    border-radius: 10px;
    padding: 16px 2.22% 14px;
    margin-bottom: 20px;
    overflow: hidden;
}

    main > section > h2, aside h2 {
        font-size: 1.5rem;
        color: #84BE19;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

main .products > h2 {
    text-transform: capitalize;
}

main .welcome p > span {
    font-weight: bold;
}

main .products article {
    margin-bottom: 15px;
}

    main .products article > h1 {
        font-size: .8rem;
        margin-bottom: 10px;
    }

    main .products article > figure {
        float: left;
        margin-right: 15px;
    }

/*#endregion */

/*#region ASIDE */
aside time {
    font-weight: bold;
}

aside small {
    text-decoration: underline;
    color: #84BE19;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 10px;
}

aside li:last-of-type small {
    margin-bottom: 0;
}

aside.news {
    background-color: #EEE;
}

aside.messages p > span {
    font-weight: bold;
}

aside.messages p:last-of-type {
    margin-bottom: 15px;
}

/*#endregion */
/*#region FOOTER */

footer {
    height: 88px;
    background: linear-gradient(to top, #84BF19 0, #A8DA39 100%);
    border-top: #CFF2B2 solid 1px;
    box-shadow: 0 -1px 0 #A9D949;
    overflow: hidden;
    width: 100%;
    position: relative;
}

    footer p {
        position: absolute;
        left: 16.33%;
        top: 30px;
    }

        footer p > span a {
            text-decoration: underline;
        }

        footer p > span:before {
            content: " | ";
        }
/*#endregion */
/*#region MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    #wrapper {
        max-width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    body {
        font-size: 10px;
    }

    main {
        width: 66.44%;
        margin: 0 1.67%;
    }

        main section, aside {
            padding: 16px 0.22% 14px;
        }

    aside {
        width: 30%;
    }
}

@media only screen and (max-width: 660px) {
    #wrapper > header > nav li {
        float: none;
        width: 100%;
        text-align:center;
    }
    #wrapper > header > nav li >a{
        padding-top:2px;
        padding-bottom:2px;
    }
   #wrapper>header{
        margin-bottom:145px;
    }
}
@media only screen and (max-width: 515px){
    aside{
        float:none;
        width:100%;
        text-align:center;
    }
    main{
      width:100%;
    }
    h1, h2{
        text-align:center;
    }
}
/*#endregion */
