/* RESET STYLES */

/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}
ol, ul {
    list-style:none
}
blockquote, q {
    quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
    content:none
}
table {
    border-collapse:collapse;
    border-spacing:0
} */


/* COMMON STYLES */
header, footer {
    clear: both;
}
/* Headings */
h1 {
    font-size: 2em;
}

h2 {
    /* 28px */
    font-size: 1.750em;
}

h3 {
    /* 24px */
    font-size: 1.5em;
}

h4 {
    /* 20px */
    font-size: 1.250em;
}

h5 {
    /* 16px */
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: .2em 0 1em 0;
}
/* Anchors */
a {
    outline: 0;
}

    a img {
        border: 0px;
        text-decoration: none;
    }

    a:link, a:visited {
        color: white;
        padding: 0 1px;
        text-decoration: none;
    }

    a:hover, a:active {
        color: inherit;
        text-decoration: none;
        text-shadow: 1px 1px 1px #000;
    }
    /* Transitions */
    a:hover, a:active, .main-nav ul, .main-nav ul li:hover, .main-aside ul li:hover {
        -webkit-transition: 0.4s;
        -ms-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }


/* PAGE STYLES */
#page {
    background: #e7e7e7 url("../img/bg.png");
    font: normal 14px/150%'Trebuchet MS', Helvetica, sans-serif;
    clear: both;
    margin: 0 auto;
    width: 85%;
}

.main-content {
    padding: 2% 0;
}

/* Header */
.main-header {
    background-color: #ff9c51;
    width: 100%;
    color: white;
    font: 20px/150% bold;
}

/* Navigation */
.main-nav ul {
    background-color: #234465;
    overflow: hidden;
    color: white;
    text-align: center;
    margin: 0;
}

    .main-nav ul li {
        display: inline-block;
        padding: 20px;
    }

        .main-nav ul li:hover {
            background-color: #588ec5;
            -webkit-text-shadow: 1px 1px 1px #000, 3px 3px 5px grey;
            text-shadow: 1px 1px 1px #000, 3px 3px 5px grey;
        }

.menu {
    display: none;
}

    .menu:hover {
        background-color: #1c354f;
    }

/* Articles */
.jokes {
    max-width: 80%;
    float: right;
}

    .jokes header h1 {
        margin-left: 2%;
    }

.post {
    display: inline-block;
    max-width: 20%;
    padding: 15px;
    margin: 0 20px 30px 0;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

    .post a {
        color: black;
    }

    .post small {
        font-size: 16px;
        float: right;
        font-style: italic;
    }

.post-info {
    font-style: italic;
    color: grey;
}

/* Aside */
.main-aside {
    float: left;
    width: 15%;
    margin-left: 20px;
}

    .main-aside ul li {
        display: block;
        font: 24px/200% bold;
    }

    .main-aside a {
        color: black;
    }

/* Footer */
.main-footer {
    background: #234465;
    color: white;
    padding: 1px;
    margin: 20px 0;
    border-radius: 2px;
    text-align: center;
}

    .main-footer a:hover {
        color: #ff9c51;
    }


/* Screens */
@media screen and (max-width: 1620px) {
    .jokes {
        max-width: 79.4%;
    }

    .post {
        max-width: 19%;
    }
}

@media screen and (max-width: 1350px) {
    .post {
        max-width: 18%;
    }
}

@media screen and (max-width: 1150px) {
    .jokes {
        max-width: 77%;
    }

    .post:last-child {
        display: none;
    }

    .post {
        max-width: 25%;
    }
}

@media screen and (max-width: 990px) {
    .jokes {
        max-width: 70%;
    }

    .post:last-child {
        display: inline-block;
    }

    .post {
        max-width: 39%;
    }
}

@media screen and (max-width: 815px) {
    .main-nav ul {
        max-height: 0;
    }

    .main-nav .toggle {
        max-height: 20em;
        padding: 0;
    }

    .main-nav ul li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }

    .menu {
        display: block;
        text-align: center;
        width: 100%;
        background-color: #234465;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px 10px;
        cursor: pointer;
    }

    .main-aside, .jokes, .post {
        clear: both;
        float: left;
        margin-left: 1%;
        min-width: 96%;
    }

    .main-aside {
        text-align: center;
    }
}
