html, body, img, h1, h2, meter, p, figure, audio, video {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 12px;
}

    body > section {
        padding: 25px;
        background-color: #FFC0CB;
        display: inline-block;
        border-radius: 10px;
    }

        body > section h1 {
            text-align: center;
            margin-bottom: 10px;
        }
/*INNER SECTIONS*/
.inner-section {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

    .inner-section:first-of-type {
        margin-left: 0;
    }

    .inner-section:last-of-type {
        margin-left: 5px;
    }

    .inner-section h2 {
        font-size: 1em;
        font-weight: normal;
        margin-bottom: 5px;
    }
/*USER SECTION*/
.user img {
    display: block;
    margin-bottom: 7px;
}

.user figcaption {
    margin-bottom: 4px;
}

.user meter {
    width: 200px;
    height: 25px;
}
/*AUDIO SECTION*/
.audio audio {
    display: block;
    margin-bottom: 5px;
}

    .audio audio:first-of-type {
        background-color: #000;
        height: 150px;
        position: relative;
    }

        .audio audio:first-of-type::-webkit-media-controls-panel {
            width: 260px;
            position: absolute;
            top: 40px;
        }
